@model BuiThiDieuNguyet.Models.HoaDon

<div class="navbar-right">
    @Html.ActionLink("Checkout", "Checkout", "Movies",
    new { @class = "btn btn-default navbar-btn" })
</div>
<div class="navbar-text navbar-right">
    <b>Giỏ hàng của bạn:</b>
    @Model.ChiTietHoaDons.Sum(x => x.SoLuong) sản phẩm,
    @Model.TongTien.ToString("c")
</div>